@font-face{
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2"),
		url("../fonts/gilroyextrabold.woff");
	font-style: normal;
	font-weight: 700;
}

@font-face{
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2"),
		url("../fonts/gilroylight.woff");
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2"),
		url("../fonts/opensans.woff");
	font-style: normal;
	font-weight: 700;
}

@font-face{
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2"),
		url("../fonts/opensanslight.woff");
	font-style: normal;
	font-weight: 300;
}

:root{
	--basic-color: #F7E296;
	--footer-color: #363636;
	--first-color: #000000;
	--second-color: #464646;
	--three-color: #7e7e7e;
	--four-color: #e5e5e5;
	--five-color: #FFFFFF;
	--six-color: #F0C52E;
	--seven-color: #91C92F;
	--eight-color: #F6dada;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin:-1px;
	border: 0;
	padding: 0;
	white-space:nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow:hidden;
	background-position: 0 0;
}

a{
	text-decoration: none;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial; 
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	min-width: 1160px;
}

.map,
.modal-form{
	display: none;
}

.page-header{
	background-color: var(--basic-color);
}

.logo-header{
	max-width: 163px;
	max-height: 35px;
}

.page-header .header-navigate{
	font-size: 15px;
}

.page-header a{
	color: black;
	text-decoration: none;
}

.page-header ul{
	list-style: none;
}

.header-navigate .main-menu{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.catalog-menu{
	font-style: normal;
	font-weight: 300;
}

.search-button{
	width: 16px;
    background-image: url(../img/zoom.svg);
    height: 16px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--basic-color);
    cursor: pointer;
}

.search-form input,
.search-form input:focus{
	border: none;
    background-color: var(--basic-color);
    outline: none;
}

.page-header .entry:before{
	content: url(../img/icon_user.svg);
	width: 13px;
	height: 14px;
	background-repeat: no-repeat;
    background-position: center;
}

.page-header .user:before{
	content: url(../img/icon_user.svg);
	width: 13px;
	height: 14px;
	background-repeat: no-repeat;
    background-position: center;
}

.page-header .compare:before{
	content: url(../img/icon_chart.svg);
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
    background-position: center;
}

.page-header .cart:before{
	content: url(../img/icon_cart.svg);
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
    background-position: center;	
}

.catalog:after{
	content: url(../img/icon_plus.svg);
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
    background-position: center;	
}

.about h2,
.contacts h2{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
}

.about a,
.contacts a{
	color: black;
	text-decoration: none;
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.about h2:before,
.contacts h2:before{
	content: "";
	width: 80px;
	height: 7px;
	background-color: black;
	display: block;
}

.about p,
.contacts p{
	font-style: normal;
	font-weight: 300;
	line-height: 28px;
}

.about ul{
	list-style: none;
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
}

.about ul li:before{
	content: url(../img/ellipse.svg);
	width: 8px;
	height: 8px;
	background-repeat: no-repeat;
    background-position: center;
}

.page-footer{
	background-color: var(--footer-color);
}

.page-footer ul{
	list-style: none;
}

.page-footer .entry:before{
	content: url(../img/icon_user_f.svg);
	width: 13px;
	height: 14px;
	background-repeat: no-repeat;
    background-position: center;
}

.page-footer .compare:before{
	content: url(../img/icon_chart_f.svg);
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
    background-position: center;
}

.page-footer .cart:before{
	content: url(../img/icon_cart_f.svg);
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
    background-position: center;	
}

.footer-menu a{
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

.page-footer p{
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	color: var(--five-color);
}

.footer-info-menu{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	list-style: none;
	text-decoration: none;
}

.footer-info-menu a{
	text-decoration: none;
	color: var(--five-color);
}

.phone{
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	color: var(--five-color);
	text-decoration: none;
}

.social:before{
	content: "";
	width: 80px;
	height: 7px;
	display: block;
	background-color: #FFC600;
}

.social a{
	width: 32px;
	height: 32px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
}

.fb{
	background-image: url('../img/fb.svg'); 
}

.twitt{
	background-image: url('../img/twitter.svg'); 
}

.inst{
	background-image: url('../img/instagram.svg'); 
}

.option-search legend{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.form-filter{
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.form-filter fieldset{
	border: none;
}

.button-view{
	outline: none;
	border: none;
}

.catalog ul{
	list-style: none;
}

.catalog a{
	text-decoration: none;
	color: black;
}

.title-product h3{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.title-product p{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

.button-catalog{
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
}

.button-catalog a:first-child{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}

.title-slide{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 58px;
}

.title-slide:before{
	content: "";
	width: 80px;
	height: 7px;
	display: block;
	background-color: var(--five-color);
}

.slide-product ul{
	list-style: none;
}

.description-slide{
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.slide a{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--first-color);
}

.slide-char dt{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
}

.slide-char dd{
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
}

.slide-button button{
	width: 15px;
	height: 15px;
	background-image: url(../img/slider-button-empty.svg);
	background-repeat: no-repeat;
	background-position: -2px 1px;
	border: none; 
	background-color: white;
	cursor: pointer;
}

.slide-button .active-slide{
	background-image: url(../img/slider-button.svg);
	background-position: center;
}

.categories{
	list-style: none;
}

.categories a{
	color:var(--first-color);
	font-family: Gilroy, Arial;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.categories li a:before{
	content: '';
	width: 160px;
	height: 160px;
	background-color: var(--basic-color);
	display: block;
	background-repeat: no-repeat;
    background-position: center;
}

.categories li:nth-child(1) a:before{
	background-image: url(../img/popular-1.svg);
}

.categories li:nth-child(2) a:before{
	background-image: url(../img/popular-2.svg);
}

.categories li:nth-child(3) a:before{
	background-image: url(../img/group.svg);
}

.categories li:nth-child(4) a:before{
	background-image: url(../img/group1.svg);
}

.categories li:nth-child(5) a:before{
	background-image: url(../img/group2.svg);
}

.categories li:nth-child(6) a:before{
	background-image: url(../img/popular-6.svg);
}

.information {
	background-color: var(--four-color);
}

.information ul{
	list-style: none;
}

.information__button:after{
	background-color: var(--first-color);
	display: block;
	content: '';
	width: 7px;
	height: 320px;
}

.information__button button{
	background-color: var(--four-color);
    border: none;
    font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--first-color);
}

.information__slider h3{
	font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	color: var(--first-color);
}

.information__slider p{
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	color: var(--first-color);
}

.information__slider li:after{
	content: '';
	width: 156px;
	height: 188px;
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: center;
}

.information__slider li:nth-child(1):after{
	background-image: url(../img/delivery_2.svg);
}

.information__slider li:nth-child(2):after{
	background-image: url(../img/warranty_1.svg);
}

.information__slider li:nth-child(3):after{
	background-image: url(../img/credit_1.svg);
}

.sponsor ul{
	list-style: none;
}

.modal__close{
	background-image: url(../img/button_close.svg);
	border: none;
	width: 55px;
	height: 55px;
	background-color: var(--five-color);
}

.modal-form label{
	font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--first-color);
}

.modal-form input,
.modal-form textarea{
	font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.4);
	border: none;
	background-color: #F2F2F2;
}

.modal__enter{
	font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--first-color);
	border: none;
	background-color: white;
}

.breadcrumbs__ul{
	list-style: none;
}

.breadcrumbs__ul a{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--first-color);
	opacity: 0.3;
}

.breadcrumbs__ul li:not(:last-child):after{
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-image: url(../img/icon_arrow_nav.svg);
}

.range-filter{
	width: 260px;
	margin-top: 49px;
}

.filter-item legend{
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700px;
}

.range-controls{
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding-top: 39px;
	padding-right: 22px;
	padding-left: 22px;
}

.range-controls .scale{
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar{
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle{
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	position: absolute;
	top: 31px;
	left: 0;
	cursor: pointer;
}

.range-controls .toggle-min{
	left: 18px;
}

.range-controls .toggle-max{
	left: 160px;
}

.price-control input{
	border: none;
}

.filter__color ul,
.filter__bluetooth ul{
	list-style: none;
}

.custom-checkbox{
	opacity: 0;
}

.custom-checkbox+label:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/checkbox-on.svg);
}

.custom-checkbox:checked+label:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/checkbox-on-t.svg);
}

.custom-radio{
	opacity: 0;
}

.custom-radio+label:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/radio-on.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.custom-radio:checked+label:before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url(../img/radio-on-t.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.price-controls input{
	border: none;
}

.sorting h2{
	font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--first-color);	
}

.sorting ul{
	list-style: none;
}

.sorting_param{
	color: var(--first-color);
	opacity: 0.3;
}

.sort_active{
	opacity:  1;
}

.sort_up,
.sort_down{
	content: '';
	width: 18px;
	height: 18px;
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../img/icon-down-dir.svg);
	background-position: center;
	opacity: 0.3;
}

.sort_up{
	transform: rotate(180deg);
}

.sort_up_click{
	opacity: 1;
}

.pagination a{
	font-family: Gilroy, Areal;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--first-color);	
	opacity: 0.3;
}

.pagination .pagination_active{
	opacity: 1;
}