@font-face{
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2"),
		url("../fonts/gilroyextrabold.woff");
	font-style: normal;
	font-weight: 700;
}

@font-face{
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2"),
		url("../fonts/gilroylight.woff");
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2"),
		url("../fonts/opensans.woff");
	font-style: normal;
	font-weight: 700;
}

@font-face{
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2"),
		url("../fonts/opensanslight.woff");
	font-style: normal;
	font-weight: 300;
}

:root{
	--basic-color: #F7E296;
	--footer-color: #363636;
	--first-color: #000000;
	--second-color: #464646;
	--three-color: #7e7e7e;
	--four-color: #e5e5e5;
	--five-color: #FFFFFF;
	--six-color: #F0C52E;
	--seven-color: #91C92F;
	--eight-color: #F6dada;
	--nine-color: #FFC600;
	--ten-color: #e5e5e500;
	--eleven-color: #F2F2F2;
	--twelve-color: #f1f1f1;
	--thirteen-color: #d7dcde;
	--fourteen-color: #00ca74;
	--fifteen-color: #ababab;
	--sixteen-color: #cfcfcf;
	--seventeen-color: #DCDCDC;
	--eighteen-color: #EBEBEB;
	--main-font: "Open Sans", "Arial", sans-serif;
	--second-font: "Gilroy", "Arial", sans-serif;
	--main-rgba: rgba(255, 255, 255, 0.7);
	--second-rgba: rgba(0, 0, 0, 0.3);
}

.search-form-text::-webkit-search-decoration,
.search-form-text::-webkit-search-cancel-button,
.search-form-text::-webkit-search-results-button,
.search-form-text::-webkit-search-results-decoration { display: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin:-1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	background-position: 0 0;
}

a{
	text-decoration: none;
}

body{
	margin: 0;
	padding: 0;
	font-family: var(--main-font); 
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	min-width: 1160px;
	background-color: var(--five-color);
}

.search-form input:hover::placeholder{
	color: var(--second-rgba);
}

.search-form input:focus::placeholder{
	color: var(--first-color);
}

.compare:hover,
.cart:hover,
.account-menu a:hover,
.compare:focus,
.cart:focus,
.main-menu-link:hover,
.main-menu-link:focus,
.catalog-menu a:hover,
.categories-item:active a::after,
.logo[href]:hover,
.footer-menu a:hover,
.footer-menu .compare:hover,
.footer-menu .cart:hover,
.footer-info-menu a:hover,
.logo-acad-footer:hover,
.footer-menu a:focus,
.footer-info-menu a:focus,
.logo-acad-footer:focus{
	opacity: 0.6;
}

.main-menu-link:active,
.compare:active,
.cart:active,
.catalog-menu a:active,
.categories-item:active a::after,
.account-menu a:active,
.logo[href]:active,
.footer-menu a:active,
.footer-menu .compare:active,
.footer-menu .cart:active,
.footer-info-menu a:active,
.logo-acad-footer:active,
.account-menu a:focus{
	opacity: 0.3;
}

.categories-item:hover a::before,
.categories-item a:focus::before{
	background-color: var(--six-color);
}

.categories-item:active a::before{
	background-color: var(--six-color);
}

.search-form-button:hover{
	color: var(--five-color);
	background-color: var(--first-color);
}

.search-form-button:active{
	color: var(--second-rgba);
	background-color: var(--first-color);
}

.map,
.modal-form{
	display: none;
}

.header-navigate{
	padding-bottom: 15px;
	background-color: var(--basic-color);
	max-width: 1040px;
	margin: 40px auto 0;
	padding-top: 44px;
	padding-left: 60px;
	padding-right: 60px;
}

.header-navigate .logo{
    display: block;
    width: 163px;
}

.header-line{
	display: flex;
	flex-wrap: wrap;
	margin-top: 7px;
}

.account-menu{
	margin: auto;
	padding: 0;
	flex-basis: 284px;
	display: flex;
}

.search-form{
	margin-right: 93px;
	position: relative;
}

.main-menu-item{
	margin-right: 15px;
	margin-bottom: 18px;
}

.search-form-button{
	border: 2px solid transparent;
    background-color: var(--basic-color);
    outline: none;
    color: transparent;
    font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 15px 17px;
}

.compare{
	margin-right: 38px;
	padding-left: 30px;
	display: flex;
    align-items: center;
}

.logo-header{
	max-width: 163px;
	max-height: 35px;
}

.page-header a{
	color: var(--first-color);
	position: relative;
}

.page-header ul{
	list-style: none;
}

.header-navigate .main-menu{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
    width: 1044px;
    margin-top: 33px;
    margin-bottom: 0;
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 22px;
	letter-spacing: 0.1em;
}

.main-menu-catalog .main-menu-link{
	padding-right: 40px;
}

.catalog-menu{
	z-index: 1;
	font-style: normal;
    font-weight: 300;
    padding-top: 45px;
    position: absolute;
    display: none;
    background-color: var(--basic-color);
    padding-left: 58px;
    padding-right: 58px;
    align-content: flex-start;
    left: -60px;
    width: 1044px;
    padding-bottom: 45px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
    height: 95px;
    text-transform: none;
}

.slide-details::before{
	content: '';
	width: 220px;
	height: 8px;
	background-color: var(--six-color);
	display: block;
	position: absolute;
	z-index: -1;
	top: 7px;
	transition: all 0.5s;
}

.slide-details:active,
.about-link:active,
.contacts-link:active{
	color: var(--second-rgba);
}

.information-button button::before{
	content: '';
    width: 173px;
    height: 8px;
    background-color: var(--six-color);
    display: block;
    position: absolute;
    z-index: -1;
    top: 16px;
    left: -3px;
    transition: all 0.5s;
}

.information-button.information-button-active .information-push{
	background-color: var(--first-color);
    color: var(--basic-color);
}

.information-button.information-button-active .information-push:before{
	content: none;
}

.sponsor img{
	filter: grayscale(100%);
	opacity: 0.5;
}


.sponsor img:hover,
.sponsor a:focus img{
	filter: grayscale(0%);
	opacity: 1;
}

.information-button.information-button-active .information-push:hover::before{
	background-color: var(--first-color);
}

.information-button:nth-child(3) .information-push::before{
    left: -3px;
}

.information-button .information-push:hover::before,
.information-button .information-push:focus::before{
	height: 40px;
	top: -1px;
	transition: all 0.5s;
}

.slide-details:hover::before,
.slide-details:focus::before{
	height: 40px;
	top: -8px;
	transition: all 0.5s;
}

.main-menu-catalog:hover .catalog-menu,
.main-menu-catalog .main-menu-link:focus + .catalog-menu{
	display: flex;
}

.catalog-menu:focus-within{
	display: flex;
}

.main-menu-catalog{
	position: relative;
	margin-right: 309px;
}

.header-navigate .logo{
	margin-top: -65px;
}

.main-menu-delivery{
	margin-right: 35px;
}

.main-menu-guarantee{
	margin-right: 106px;
}

.catalog-menu li{
    font-weight: lighter;
    letter-spacing: 0;
    margin-bottom: 9px;
    margin-right: 50px;
}

.main-menu-item:not(:first-child){
	letter-spacing: 0.2em;
}

.main-menu-catalog .main-menu-link::after{
	content: '';
    background-image: url(../img/plus.svg);
    display: block;
    width: 16px;
    height: 16px;
    top: 3px;
    position: absolute;
    left: 210px;
}

.search-form-text{
	padding-left: 40px;
}


.main-menu-item:nth-child(4) {
    margin-right: 0;
}

.search-form label{
	width: 16px;
    background-image: url(../img/zoom.svg);
    height: 16px;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--basic-color);
    cursor: pointer;
    top: 18px;
}

.search-form input{
	border: none;
    background-color: var(--basic-color);
    outline: none;
    font-size: 15px;
    width: 350px;
}

.page-header .entry::before{
	content: url(../img/icon_user.svg);
	width: 13px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0px;
    left: 5px;
}

.page-header .entry{
	padding-left: 30px;
}

.account-menu li{
	position: relative;
}

.page-header .user::before{
	content: url(../img/icon_user.svg);
	width: 13px;
	height: 14px;
}

.page-header .compare::before{
	content: url(../img/icon_chart.svg);
	width: 14px;
	height: 20px;
    display: block;
    position: absolute;
    top: 17px;
    left: 2px;
}

.page-header .cart::before{
	content: url(../img/icon_cart.svg);
	width: 10px;
	height: 20px;
    display: block;
    position: absolute;
    top: 15px;
    left: 7px;
}

/*.catalog::after{
/	content: url(../img/icon_plus.svg);
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
    background-position: center;	
}*/

.contacts{
	position: relative;
}

.contacts h2{
	margin-bottom: 40px;
	margin-top: 0;
    padding-top: 62px;
}

.contacts p{
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 38px;
}

.about h2,
.contacts h2{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.about a,
.contacts a{
	color: var(--first-color);
	text-decoration: none;
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
    z-index: 1
}

.about a::before{
	    content: '';
    width: 277px;
    height: 8px;
    background-color: var(--six-color);
    display: block;
    position: absolute;
    z-index: -1;
    top: 7px;
    left: -6px;
    transition: all 0.5s;
}

.about a:hover::before,
.about a:focus::before{
	transition: all 0.5s;
	top: -7px;
	height: 38px;
}

.contacts-link::before{
	    content: '';
    width: 277px;
    height: 8px;
    background-color: var(--six-color);
    display: block;
    position: absolute;
    z-index: -1;
    top: 7px;
    left: -6px;
    transition: all 0.5s;
}

.contacts-link:hover::before,
.contacts-link:focus::before{
	transition: all 0.5s;
	top: -7px;
	height: 38px;
}

.about h2::before,
.contacts h2::before{
	content: "";
	width: 80px;
	height: 7px;
	background-color: var(--first-color);
	display: block;
	position: relative;
	top: -52px;
}

.about p{
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 40px;
}

.about h2{
	margin-bottom: 40px;
	margin-top: 0;
    padding-top: 62px;
}

.about-list{
	list-style: none;
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	margin: 59px 0 78px 3px;
	padding: 0;
	line-height: 28px;
}

.footer-menu .enter{
	position: relative;
}

.about-list li{
	margin-top: 15px;
}

.contacts-link,
.about-link{
	display: block;
	line-height: 22px;
	letter-spacing: 0.2em;
	padding-left: 24px;
	padding-right: 24px;
}

.about-link{
	display: block;
    box-sizing: border-box;
    width: 267px;
}

.contacts-link{
	display: block;
    box-sizing: border-box;
    width: 260px;
    padding-left: 39px;
}

.about-list li::before{
	content: url(../img/ellipse.svg);
	width: 8px;
	height: 8px;
	background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
}

.page-footer{
	background-color: var(--footer-color);
    padding-top: 46px;
    padding-bottom: 55px;
}

.page-footer ul{
	list-style: none;
	padding: 0;
	display: flex;
}

.wrap-about{
	max-width: 1160px;
    margin: 75px auto 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 125px;
	padding-bottom: 85px;
}


.map-link{
    display: block;
    margin-bottom: 80px;
}

.about{
	position: relative;
}

.entry{
	position: relative;
}

.page-footer .entry::before{
	content: url(../img/icon_user_f.svg);
	width: 13px;
	height: 14px;
    position: absolute;
    left: 8px;
}

.footer-menu .entry{
	padding-left: 30px;
}

.footer-menu .compare{
	margin-right: 34px;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.footer-menu .cart{
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.page-footer .compare::before{
	content: url(../img/icon_chart_f.svg);
	width: 14px;
	height: 14px;
    position: absolute;
    right: 203px;
    top: 4px;
}

.cart{
	padding-left: 30px;
	display: flex;
    align-items: center;
}

.page-footer .cart::before{
	content: url(../img/icon_cart_f.svg);
	width: 10px;
	height: 10px;
	position: absolute;
    right: 71px;
    top: 0;	
}

.footer-menu a{
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	color: var(--main-rgba);
	text-decoration: none;
}

.page-footer p{
	font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: var(--five-color);
}

.footer-info-menu{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	list-style: none;
	text-decoration: none;
	display: flex;
    flex-wrap: wrap;
    width: 428px;
    margin-right: 203px;
    letter-spacing: 0.2em;
}

.footer-info-menu li{
	margin-right: 33px;
}

.footer-info-menu li:nth-child(3n){
	margin-right: 0;
}

.footer-info-menu a{
	text-decoration: none;
	color: var(--five-color);
}

.phone{
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--five-color);
	text-decoration: none;
}

footer .logo{
	grid-column-start: 1;
}

.wrap-footer-social::before{
	content: "";
	width: 80px;
	height: 7px;
	display: block;
	background-color: var(--nine-color);
	position: absolute;
    left: 0;
    top: 12px;
}

.page{
	height: 100%;
}

.page-body{
	display: grid;
	min-height: 100%;
	grid-template-rows: min-content 1fr min-content;
}

.social a:hover,
.social a:focus{
	opacity: 1;
}

.social a:active{
	opacity: 0.3;
}

.social a{
	width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -4px 0px;
    opacity: 0.6;
}

.social li:nth-child(2) a,
.social li:nth-child(3) a{
    background-position: 0px 0px;
}

.fb{
	background-image: url('../img/fb.svg'); 
}

.twitt{
	background-image: url('../img/twitter.svg'); 
}

.inst{
	background-image: url('../img/instagram.svg'); 
}

.option-search legend{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
}

.filter-color legend{
	margin-left: 47px;
    padding-top: 8px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-color ul{
	padding-left: 0;
    margin-top: 24px;
    margin-left: 34px;
}

.filter-color li{
	position: relative;
    display: flex;
    margin-bottom: 11px;
}

.filter-color legend::before{
	background-color: var(--first-color);
    height: 2px;
    width: 200px;
    content: '';
    display: block;
    margin-bottom: 15px;
}

.filter-bluetooth legend{
	margin-left: 47px;
    padding-top: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.filter-bluetooth legend::before{
	background-color: var(--first-color);
    height: 2px;
    width: 200px;
    content: '';
    display: block;
    margin-bottom: 15px;
}


.form-filter{
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.form-filter fieldset{
	border: none;
}

.button-view{
	outline: none;
	border: none;
}

.catalog ul{
	list-style: none;
}

.catalog a{
	text-decoration: none;
	color: var(--first-color);
}

.title-product{
	display: flex;
}

.title-product h3{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	width: 265px;
    margin-top: 22px;
}

.title-product p{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	margin-left: auto;
    margin-top: 25px;
}

.button-catalog{
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
}

.search-form-text:focus + .search-form-button,
.search-form-button:focus{
	border: 2px solid var(--first-color);
	color: var(--first-color);
	cursor: pointer;
	top: -13px;
	position: relative;
}

.search-form-text:focus + .search-form-button:hover{
	color: var(--five-color);
}

.search-form-text:focus + .search-form-button::before,
.search-form-button:focus::before{
	content: '';
	height: 2px;
	width: 355px;
	background-color: var(--first-color);
	display: block;
	position: absolute;
    left: -353px;
    top: 50px;
}

.catalog-menu li.catalog-new-line{
	margin-bottom: 36px;
}

.button-catalog a:first-child{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}

.title-slide{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 47px;
	line-height: 58px;
	width: 390px;
	margin-left: 128px;
	position: relative;
	margin-bottom: 29px;
}

.title-slide::before{
	content: "";
	width: 100px;
    top: -60px;
	height: 7px;
	display: block;
	background-color: var(--five-color);
	position: absolute;
}

.slide:nth-child(2) .title-slide::before{
	top: -59px;
    left: 19px;
}

.slide:nth-child(2) .title-slide{
    margin-left: 141px;
}

.slide:nth-child(2) .slide-link{
	margin-top: 26px;
    margin-left: 16px;
}

.slide:nth-child(2) .description-slide{
	width: 452px;
    margin-top: -2px;
    margin-left: 140px;
}
.slide:nth-child(2) .slide-char{
    margin-left: 143px;
    margin-top: 60px;
}

.slide:nth-child(2) .slide-details{
    margin-left: 141px;
}

.slide:nth-child(2){
	margin-bottom: 24px;
}

.slide:nth-child(3) .title-slide::before{
	top: -58px;
    left: -4px;
}

.slide:nth-child(3) .slide-link{
	margin-top: 81px;
    margin-left: 22px;
}

.slide:nth-child(3) .title-slide{
	width: 498px;
    margin-left: 49px;
}

.slide:nth-child(3) .description-slide{
	margin-left: 46px;
}

.slide:nth-child(3) .slide-details{
	margin-left: 49px;
    margin-top: -3px;
}

.slide:nth-child(3) .slide-char{
	margin-left: 47px;
    margin-top: 61px;
}

.slide:nth-child(3) .slide-char div{
	margin-right: 27px;
}

.slider-toggles li:last-child{
	margin-right: 0;
}

.slider-list{
	list-style: none;
    display: flex;
    margin-top: 0;
    justify-content: center;
    padding-left: 0;
}

.slider-product{
	margin: 0 auto 66px;
	max-width: 1160px;
	box-sizing: content-box;
	background-image: linear-gradient(to bottom, var(--basic-color) 28%, var(--five-color) 28%);
	position: relative;
}

.slide-details{
	letter-spacing: 0.2em;
	width: 220px;
    text-align: center;
    z-index: 1;
    margin-left: 130px;
    position: relative;
}

.slider-toggles{
	display: flex;
    position: absolute;
    top: 322px;
	right: 87px;
    padding: 0;
    list-style: none;
}

.slider-toggles li{
	margin-right: 15px;
}

.description-slide{
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	width: 471px;
	margin-bottom: 58px;
    margin-left: 128px;
}

.slider-list .list{
	display: flex;
}

.slide-content{
	width: 600px;
	padding-top: 46px;
}

.slide{
	display: none;
	position: relative;
	flex-wrap: wrap;
	margin-bottom: 36px;
}

.slide:nth-child(1):before{
	content: '01';
	color: var(--five-color);
	font-weight: 700;
	font-size: 179px;
	line-height: 219px;
	text-transform: uppercase;
	font-family: var(--second-font);
	position: absolute;
	top: -16px;
    right: -40px;
}

.slide:nth-child(2):before{
	content: '02';
	color: var(--five-color);
	font-weight: 700;
	font-size: 179px;
	line-height: 219px;
	text-transform: uppercase;
	font-family: var(--second-font);
	position: absolute;
	top: -16px;
    right: -52px;
}

.slide:nth-child(3):before{
	content: '03';
	color: var(--five-color);
	font-weight: 700;
	font-size: 179px;
	line-height: 219px;
	text-transform: uppercase;
	font-family: var(--second-font);
	position: absolute;
	top: -16px;
	right: 46px;
}

.slide.slide-active{
	display: flex;
}

.slide a{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--first-color);
	display: block;
}

.slide-char{
	display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    margin-top: 58px;
    letter-spacing: 0.2em;
}

.slide-char div{
	display: flex;
    flex-direction: column-reverse;
    margin-right: 64px;
}

.slide-char div:nth-child(3n){
    margin-right: 0px;
}

.slide-char dt{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
    margin-top: 16px;
}

.slide-char dd{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	margin: 0;
}

.slider-toggle{
	width: 15px;
	height: 15px;
	background-image: url('../img/slider-button-empty.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	border: none; 
	background-color: var(--five-color);
	cursor: pointer;
}

.slider-toggle-active{
	background-image: url('../img/slider-button.svg');
	background-position: center;
}

.categories{
	list-style: none;
	width: 1160px;
    margin: 0 auto;
    display: grid;
    padding: 0;
    grid-gap: 38px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 33px;
}

.categories a{
    padding-top: 197px;
	color:var(--first-color);
	font-family: var(--second-font);
	font-style: normal;
	position: relative;
	min-height: 45px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	display: block;
}

.categories li a::before{
	top: 0;
    position: absolute;
	content: '';
	width: 160px;
	height: 160px;
	background-color: var(--basic-color);
	display: block;
	background-repeat: no-repeat;
    background-position: center;
}

.categories-item:nth-child(1) a::after{
	background-image: url('../img/popular-1.svg');
	content: '';
    width: 160px;
    height: 160px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;}

.categories-item:nth-child(2) a::after{
	background-image: url('../img/popular-2.svg');
	content: '';
    width: 160px;
    height: 160px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.categories-item:nth-child(3) a::after{
	background-image: url('../img/group.svg');
	content: '';
    width: 160px;
    height: 160px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.categories-item:nth-child(4) a::after{
	background-image: url('../img/group1.svg');
	content: '';
    width: 160px;
    height: 160px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.categories-item:nth-child(5) a::after{
	background-image: url('../img/group2.svg');
	content: '';
    width: 160px;
    height: 160px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.categories-item:nth-child(6) a::after{
	background-image: url('../img/popular-6.svg');
	content: '';
    width: 160px;
    height: 160px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.information{
	margin-bottom: 87px;
	min-height: 380px;
	margin-top: 59px;
	background-image: linear-gradient(to bottom, var(--five-color) 24%, var(--four-color) 24%);
}

.information-wrap{
	width: 1160px;
	margin: 0 auto;
	display: flex;
}

.information ul{
	padding: 0;
	list-style: none;
}

.information-buttons::after{
	background-color: var(--first-color);
	display: block;
	content: '';
	position: absolute;
	width: 7px;
	height: 320px;
	left: 277px;
    top: -76px;
}

.information-buttons{
	text-align: center;
	position: relative;
	display: flex;
    flex-direction: column;
    margin-right: 123px;
    margin-top: 73px;
}

.information-button{
	margin: 0px 0 23px 0px;
}

.information-slide{
	display: none;
	position: relative;
}

.information-slide-active{
	display: block;
}

.information-push{
	letter-spacing: 0.2em;
    padding-bottom: 9px;
    padding-top: 9px;
    outline: none;
    background-color: var(--ten-color);
    border: none;
    padding-right: 115px;
    width: 278px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: block;
    line-height: 22px;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--first-color);
    z-index: 1;
    position: relative;
}

.information-slider h3{
	font-family: var(--second-font);
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    margin-bottom: 39px;
    line-height: 58px;
    letter-spacing: 0.2em;
    color: var(--first-color);
}

.information-slider p{
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	color: var(--first-color);
	letter-spacing: 0.1em;
	display: block;
	max-width: 500px;
}

.information-slide::after{
    content: '';
    width: 156px;
    height: 188px;
    display: block;
    background-repeat: no-repeat;
    background-size: 88%;
    position: absolute;
    background-position: center;
    top: -13px;
    right: -266px;
}

.sponsor a{
	display: block;
}

.information-slide:nth-child(1)::after{
	background-image: url('../img/delivery_2.svg');
}

.information-slide:nth-child(2)::after{
	background-image: url('../img/warranty_1.svg');
}

.information-slide:nth-child(3)::after{
	background-image: url('../img/credit_1.svg');
}

.sponsor ul{
	grid-gap: 36px;
    padding-left: 0;
    list-style: none;
    display: grid;
    width: 1154px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sponsor ul li:nth-child(1){
	grid-column: 1;
}

.sponsor ul li:nth-child(2){
	grid-column: 2;
}

.sponsor ul li:nth-child(3){
	grid-column: 3;
}

.sponsor ul li:nth-child(4){
	grid-column: 4;
}

.modal-close{
	background-image: url('../img/button_close.svg');
	border: none;
	width: 55px;
	height: 55px;
	background-color: var(--five-color);
}

.modal-form label{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--first-color);
}

.modal-form input,
.modal-form textarea{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.4);
	border: none;
	background-color: var(--eleven-color);
}

.modal-enter{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: var(--first-color);
	border: none;
	background-color: white;
}

.breadcrumbs-list{
	list-style: none;
}

.breadcrumbs-list a{
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--first-color);
	opacity: 0.3;
}

.breadcrumbs-list li:not(:last-child)::after{
	content: '';
    display: block;
    width: 12px;
    position: absolute;
    height: 12px;
    background-image: url(../img/icon_arrow_nav.svg);
    top: 5px;
    right: -27px;
}

.range-filter{
	width: 260px;
	margin-left: 30px;
}

.filter-item legend{
	margin-left: 47px;
    padding-top: 70px;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.filter-item legend:before{
	background-color: var(--first-color);
	height: 2px;
	width: 200px;
	content: '';
	display: block;
	margin-bottom: 15px;
}

.range-controls{
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	border-radius: 5px;
	padding-top: 33px;
	padding-right: 22px;
	padding-left: 22px;
}

.range-controls .scale{
	height: 2px;
	background-color: var(--thirteen-color);
	width: 196px;
}

.range-controls .bar{
	width: 70%;
	height: 2px;
	background-color: var(--fourteen-color);
}

.range-controls .toggle{
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--five-color);
	background-color: var(--fifteen-color);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--sixteen-color);
	position: absolute;
	top: 25px;
	left: 0;
	cursor: pointer;
}

.range-controls .toggle-min{
	left: 18px;
}

.range-controls .toggle-max{
	left: 160px;
}

.price-control input{
	border: none;
}

.filter-color ul,
.filter-bluetooth ul{
	list-style: none;
}

.custom-checkbox{
	opacity: 0;
}

.custom-checkbox+label::before{
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../img/checkbox-on.svg');
}

.custom-checkbox:checked+label::before{
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('../img/checkbox-on-t.svg');
}

.custom-radio{
	opacity: 0;
}

.custom-radio+label::before{
	content: url('../img/radio-on.svg');
	display: inline-block;
	width: 24px;
	height: 24px;
}

.filter-bluetooth ul{
	margin-top: 24px;
    padding-left: 30px;
}

.filter-bluetooth li{
	margin-bottom: 4px;
}

.button-view{
	letter-spacing: 0.2em;
    padding-bottom: 9px;
    padding-top: 9px;
    outline: none;
    background-color: var(--ten-color);
    border: none;
    padding-right: 115px;
    width: 278px;
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    display: block;
    line-height: 22px;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--first-color);
    z-index: 1;
    position: relative;
}

.button-view::before {
    content: '';
    width: 173px;
    height: 8px;
    background-color: var(--six-color);
    display: block;
    position: absolute;
    z-index: -1;
    top: 16px;
    left: -3px;
    transition: all 0.5s;
}

.button-view:hover::before, 
.button-view:focus::before {
    height: 40px;
    top: -1px;
    transition: all 0.5s;
}

.custom-radio:checked+label:before{
	content: url('../img/radio-on-t.svg');
	display: inline-block;
	width: 24px;
	height: 24px;
}

.price-controls input{
	border: none;
}

.sorting h2{
	font-family: var(--second-font);
    font-style: normal;
    margin: 25px 32px 25px 71px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--first-color);
}

.sorting ul{
	list-style: none;
	align-items: center;
	display: flex;
	margin-right: 218px;
}

.sorting li{
	margin-right: 30px;
}

.sorting li:last-child{
	margin-right: 0;
}

.sorting-param{
	color: var(--first-color);
	opacity: 0.3;
}

.sort-active{
	opacity:  1;
}

.sort-up,
.sort-down{
	content: '';
	width: 18px;
	height: 18px;
	display: block;
	background-repeat: no-repeat;
	background-size: 55%;
	background-image: url('../img/icon-down-dir.svg');
	background-position: center;
	opacity: 0.3;
	margin-top: 27px;
}

.sort-up{
	transform: rotate(180deg);
	margin-right: 17px;
}

.sort-up-click{
	opacity: 1;
}

.pagination a{
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--first-color);	
	opacity: 0.3;
}

.pagination .pagination-active{
	opacity: 1;
}

.wrap-footer{
	max-width: 1160px;
	margin: 0 auto;
}

.wrap-footer .logo{
	display: block;
	margin-bottom: 13px;
	width: 163px;
}

.footer-menu{
	display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    position: relative;
}

.footer-menu ul{
	margin: 0 36px 0 0;
    justify-content: flex-end;
    flex-basis: 335px;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}


.footer-menu li{
	display: flex;
}

.wrap-footer-info .footer-addres{
	margin-right: 166px;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.footer-menu a:last-child{
	padding-right: 0;
}

.social{
	margin: 0 auto;
	position: relative;
	flex-wrap: wrap;
}

.social li{
	margin-right: 20px;
}

.social li:first-child {
    margin-left: 24px;
}

.social li:last-child{
	margin-right: 0;
}

.wrap-footer-info{
	display: flex;
	align-items: baseline;
	margin-bottom: 50px;
}

.wrap-footer-social{
	display: flex;
	position: relative;
}

.breadcrumbs{
	max-width: 1160px;
	box-sizing: border-box;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, var(--basic-color) 10%, var(--five-color) 10%);
}

.breadcrumbs-list{
	padding: 0;
	display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
}

.breadcrumbs-list li{
	position: relative;
	margin-right: 41px;
}

.breadcrumbs-list li:last-child{
	margin-right: 0;
}

.breadcrumbs h1{
	font-family: var(--second-font);
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    margin-left: 61px;
    padding-top: 59px;
    margin-top: 0;
}

.wrap-catalog{
    display: flex;
    margin: 0 auto;
}

.aside-header{
	background-color: var(--seventeen-color);
	display: flex;
  	justify-content: flex-end;
}

.sorting-wrap{
	background-color: var(--four-color);
	display: flex;
  	justify-content: flex-start;
}

.aside-wrap{
	display: flex;
  	justify-content: flex-end;
  	background-color: var(--four-color);
  	height: 100%;
}

.header-aside{
	width: 330px;
}

.option-search{
	width: 330px;
}

.sorting{
	width: 830px;
	display: flex;
}

.catalog{
	width: 830px;
}

.column-filter{
	flex-grow: 1;
}

.column-catalog-list{
	flex-grow: 1;
}

.catalog-list{
	display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 31px;
    margin-top: 71px;
    grid-column-gap: 38px;
    grid-row-gap: 31px;
}

.catalog-list li{
	position: relative;
}

.button-catalog{
	display: none;
	position: absolute;
    top: 0;
    left: 0px;
    background-color: var(--main-rgba);
    width: 360px;
    height: 380px;
    box-sizing: border-box;
    padding-top: 211px;
}

.catalog-list li:hover .button-catalog{
	display: block;
}

.pagination{
	padding-left: 31px;
    padding-bottom: 20px;
    padding-right: 37px;
    padding-top: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-left: 70px;
    margin-top: 23px;
    margin-bottom: 79px;
}

.pagination ul{
	display: flex;
    margin: 0;
    padding-left: 25px;
    min-width: 100px;
}

.pagination li{
	margin-right: 30px;
}

.pagination ul li:last-child{
	margin-right: 0;
}

.wrap-catalog-bg{
	margin-top: 45px;
}

.aside-title{
	margin: 25px auto 25px 60px;
	font-family: var(--second-font);
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--first-color);
}

.min-price input,
.max-price input{
	background-color: inherit;
    border: none;
    width: 60px;
}

.min-price,
.max-price{
	display: flex;
	margin-top: 15px;
    margin-left: -15px;
}